.container--white {
    background: #fff;
}

.settings-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings-wrapper--top-pad {
    padding-top: 15px;
}

.form {
    width: 30vw;
}

.form--settings {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.form__section {
    margin: 12px 0;
    padding-bottom: 5px;
}

/* .form__label {
} */

.form__label--settings {
    display: block;
    margin: 15px 0 5px 0;
    padding-top: 20px;
}

.form__input {
    box-sizing: border-box;
    border: none;
}

.form__input--settings {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 0.5rem;
    font-size: 1rem;
    border-bottom: 2px solid grey;
}

.form__input--settings:hover,
.form__input--settings:focus,
.form__input--settings:active {
    outline: 0;
    border-bottom: 2px solid #6831de;
}

.btn {
    text-align: center;
}

.btn:hover {
    cursor: pointer;
}

.btn--settings {
    border: transparent;
    padding: 10px 15px;
    border-radius: 10px;
    height: 30px;
    line-height: 12px;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 3px 6px 10px #1113;
}

.btn--settings:hover,
.btn--settings:focus {
    opacity: 0.8;
}

.btn--purple {
    background-image: linear-gradient(to right, #cf48ff, #6831de);
    color: #fff;
}

.btn--disabled {
    background-color: lightgray;
    color: gray;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .container--white {
        width: 100vw;
        height: 100vh;
    }

    .settings-wrapper--top-pad {
        padding-top: 15vh;
    }

    .form__label--settings,
    .form__input--settings {
        font-size: 1.35rem;
    }

    .btn--settings {
        font-size: 1.35rem;
        height: 45px;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .container--white {
        height: 100vh;
        padding-bottom: 15px;
    }

    .settings-wrapper--top-pad {
        padding-top: 10vh;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 823px) {
    .container--white {
        height: 100vh;
    }

    .form {
        width: 70vw;
    }

    .settings-wrapper--bottom-pad {
        padding-bottom: 15px;
    }
}

@media only screen and (min-device-width: 320px) and (orientation: portrait) {
    .settings-wrapper--top-pad {
        padding-top: 0;
    }
}
