.container--settings {
    background: #fff;
}

.settings-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings-wrapper--top-pad {
    padding-top: 15px;
}

.form {
    width: 30vw;
}

.form--settings {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.form__section {
    margin: 12px 0;
    padding-bottom: 5px;
}

.form__label--settings {
    display: block;
    margin: 15px 0 5px 0;
    padding-top: 20px;
}

.form__input {
    box-sizing: border-box;
    border: none;
}

.form__input--settings {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 0.5rem;
    font-size: 1rem;
    border-bottom: 2px solid grey;
}

.form__input--settings:hover,
.form__input--settings:focus,
.form__input--settings:active {
    outline: 0;
    border-bottom: 2px solid #6831de;
}

.form__msg {
    font-style: italic;
    padding-left: 3vw;
}

.form__msg--err {
    color: #ff0000;
}

.form__msg--success {
    color: #6831de;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .settings-wrapper--top-pad {
        padding-top: 10vh;
    }

    .form__label--settings,
    .form__input--settings {
        font-size: 1.35rem;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .container--settings {
        padding-bottom: 15px;
    }

    .settings-wrapper--top-pad {
        padding-top: 10vh;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .form {
        width: 45vw;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .form {
        width: 50vw;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 823px) {
    .form {
        width: 70vw;
    }

    .settings-wrapper--bottom-pad {
        padding-bottom: 15px;
    }

    .form__msg {
        display: block;
        padding-left: 0;
    }
}
