#root{
  background-image: url('../../pics/mappyPals.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
div.user-photo {
  width: 100px;
  height: 100px;
  margin: 0.5em auto;
}
div.user-photo img{
  max-height: 100%;
  border-radius: 50%;
  background:#fff;
}
.dev-name {
  color: #6831de;
}
.user-links {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1vw;
  padding: 0 20px;
}
.portfolio {
  padding: 1vw 1vw;
  border-radius: 10px;
  background: rgb(224,59,251);
  background: linear-gradient(90deg, rgba(224,59,251,1) 0%, rgba(104,49,222,1) 100%);
}
a {
  color: white;
}