div.user-photo {
        width: 150px;
        height: 150px;
        margin: 1em auto;
      }
      div.user-photo img{
        max-height: 100%;
        border-radius: 50%;
        background:#fff;
      }