.text-center {
    text-align: center;
}

.text-medium {
    font-size: 16px;
}

.text-large {
    font-size: 20px;
}

.message {
    color: green;
    text-decoration: none;
}

@media all and (min-width: 630px) {
    .text-medium {
        font-size: 22px;
    }
    .text-large {
        font-size: 25px;
    }
}
