.buttonReset {
    padding: 20px !important;
    display: block;
    width: 100% !important;
    font-size: 16px !important;
}

.max-width600 {
    max-width: 600px !important;
}

.text-center {
    text-align: center;
}

.text-medium {
    font-size: 16px;
}

.text-large {
    font-size: 20px;
}

.message {
    color: green;
    text-decoration: none;
}

@media all and (min-width: 630px) {
    .text-medium {
        font-size: 22px;
    }
    .text-large {
        font-size: 25px;
    }
    .buttonReset {
        font-size: 25px !important;
    }
}
