$dark: #6831DE;
$light: #E03BFB;

.Login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    min-height: 100vh;

    .container {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
        border-radius: 30px;

        .headline {
            font-size: 1.3rem;
            text-align: center;
        }
            
        .sub-headline {
            font-size: 1rem;
            text-align: center;
        }

        .group {
            margin-top: 10%;
        }

        .form-input-label {
            margin: 0;
            margin-left: 10px;
        }

        .form-input {
            margin-top: 10px;
            margin-bottom: 10%;
        }

        .form-input::placeholder {
            font-size: 1rem;
        }
    }
    
    /* Success alert when user submits a valid email address */
        .success-alert {
            display: flex;
            justify-content: center;
            width: 100%;
            font-size: 1rem;
            background-color: #d4edda;
            border: 1px solid #c3e6cb;
            border-radius: .25rem;
            color: #155724;
            text-align: center;
            margin-top: 5%;
            padding: .5rem;
        }
}

 @media (min-width: 360px) and (max-width: 410px) {
    .Login {
        height: 100%;
        
        .container {
            margin: 0%;
        }
    }
}

@media (min-width: 411px) and (max-width: 767px) {
    .Login .container {
            padding: 5% 6%;
    }
}

@media (min-width: 768px) and (max-width: 1439px) {
    .Login .container {
        .headline {
            font-size: 1.7em;
        }
        
        .sub-headline {
            font-size: 1.2em;
        }

        .group {
            margin-top: 5%;
            width: 95%;
            font-size: 1.2em;

            .form-input-label {
                margin: 0;
                font-size: 1em;
            }

            .form-input::placeholder {
                font-size: 1.2rem;
            }
        }
    }
}

@media (min-width: 1440px) {
    .Login {

        .container {
            margin: 0%;
            .headline {
                font-size: 1.6em;
                margin-bottom: 10%;    
            }
            
            .sub-headline {
                font-size: 1.1em;
            }

            .group {
                margin-top: 10%;
                width: 95%;
                font-size: 1.3em;

                .form-input-label {
                    margin: 0;
                    font-size: 1em;
                }

                .form-input::placeholder {
                    font-size: 1.4rem;
                }
            }
        }
        .success-alert {
            font-size: 1.3rem;
        }
    }
}
    

    
