@media all and (min-width: 360px) {
  .Login {
    padding: 60px 0;
    background-image: url('../../pics/adult-backlit-beach.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
    overflow-x: hidden;
    background-color: white;
    font-family: 'Poppins', sans-serif;
  }

  #newPassword {
    margin-bottom: -1.5rem;
    color: red;
    font-size: 1rem;
    line-height: 1;
    transform: translateY(-1.5rem);
  }

  .text-center-wrap {
    text-align: center;
    white-space: wrap;
  }

  .heavy {
    font-weight: 600;
    font-size: 1.2rem;
  }
  .light {
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 2.3rem;
  }

  .u-text-center{
    text-align: center;
    white-space: nowrap;
  }
}