@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
  .forgot-password {
    display: flex;
    justify-content: flex-end;
    transform: translateY(-1.5rem);
  }
  .u-text-center{
    text-align: center;
  }
}