.title {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

.u-text-left {
    text-align: left !important;
}

.errorMessage {
    font-size: 10px;
    color: #FF0000;
}

.buttonReset {
    padding: 20px !important;
    display: block;
    width: 100% !important;
    font-size: 16px !important;
}

.max-width600 {
    max-width: 600px !important;
}

.text-center {
    text-align: center;
}

.text-medium {
    font-size: 16px;
}

.text-large {
    font-size: 20px;
}

@media all and (min-width: 630px) {
    .text-medium {
        font-size: 22px;
    }
    .text-large {
        font-size: 25px;
    }
    .buttonReset {
        font-size: 25px !important;
    }
}