.img {
    background-size: cover;
    border-radius: 50% 50% 50% 50%;
    width: 75px;
}
.fullName {
    margin-top: 0;
    margin-bottom: 0;
    color: #6831de;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.buttonContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.button {
    display: flex;
    flex-wrap: nowrap;
    text-align: left;
    background-color: #ffffff;
    border: 2px solid #6831de;
    color: #6831de;
    border-radius: 10px;
    padding: 5px;
    padding-left: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}
.button:hover {
    opacity: 0.8;
}

.description {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 1.875rem;
    color: #000000;
}
.icon {
    margin-right: 5px;
    font-size: 15px;
}

@media (max-width: 740px) {
    .container {
        display: block;
    }
    .buttonContainer {
        padding-top: 10px;
    }
}
