.XButton {
    color: #595959;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

.AddFriendForm {
    position: absolute;
    right: 16px;
    font-size: 25px;
}

.InvitationSent {
    position: absolute;
    right: 16px;
    top: 10px;
    font-size: 25px;
}

.DisplayInterests {
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 2px 3px 4px -2px grey;
    margin: 0.4em 0.6rem;
    padding: 0.4em 1.8em;
    color: black;
    border: 1px solid #6831de;
}
