.XButton {
    color: #595959;
    border: none;
    background: none;
    cursor: pointer;
}

.AddFriendForm {
    position: absolute;
    right: 16px;
    padding: 0;
    font-size: 25px;
}

.InvitationSent {
    position: absolute;
    right: 16px;
    padding: 0;
    top: 10px;
    font-size: 25px;
}
