.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vw;
    min-width: 50%;
    z-index: 2;
}

.modalMain {
    margin-top: 50%;
    margin-left: 25%;
    background: white;
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    height: auto;
}
.closeButton {
    border: none;
    background: none;
    width: auto;
    margin-top: 16px;
    margin-right: 16px;
    font-size: 18px;
    text-align: end;
    &:hover {
        font-size: 20px;
    }
}
.displayBlock {
    display: block;
}

.displayNone {
    display: none;
}
