input[type=text] {
    width: 100% !important;
}

.contactForm {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.header {
    text-align: center;
    padding-bottom: 1em; 
}

.header h2 {
    color: #6831DE;
}