section {
    display: flex;
    flex-direction: column;
    height: 70vh;
    margin: auto;
    text-align: center;
    font-family: 'Play', sans-serif;
    width: 100%;
    color: white;
    font-weight: lighter;
}

#not-logged-in {
    background-image: url('../../pics/adult-backlit-beach.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.title {
    display: flex;
    height: 100px;
    width: 100%;
    font-size: 4em;
    margin: 0;
}

.title p {
    margin: auto;
}

.intro {
    font-size: 3em;
    margin-top: 0px;
    width: 100%;
}

.signup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    margin-top: 200px;
}

.signup {
    width: 250px;
    height: 50px;
    border: transparent;
    border-radius: 10px;
    background-image: linear-gradient(to right, #a731a5, #550554);
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    transition: transform 0.2s ease-out, color 0.2s linear;
}

.local-icon {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2em;
    width: 100%;
    height: 100px;
    margin-top: 50px;
}

.icon {
    margin-left: 30px;
    margin-right: 50px;
}

section h1 {
    width: 100%;
    font-size: 4em;
    margin: 0px;
}

section h3 {
    font-size: 3em;
    width: 100%;
}

/*#not-logged-in div div {*/
/*    border-radius: 100%;*/
/*    width: 150px;*/
/*    height: 150px;*/
/*    margin: 80px;*/
/*    background-color: #f1f1ff;*/
/*    transition: transform 0.2s ease-out, background-color 0.2s linear;*/
/*}*/

/*#not-logged-in div div:hover {*/
/*    background-color: #b3442edd;*/
/*}*/

/*div[aria]:hover:after {*/
/*    content: attr(aria);*/
/*    display: block;*/
/*    font-family: "Play", sans-serif;*/
/*    font-size: 20px;*/
/*}*/

/*#not-logged-in div div:hover {*/
/*    transform: scale(1.3);*/
/*}*/

/*section i {*/
/*    font-size: 6em;*/
/*    padding: 25px 15px;*/
/*}*/

.user-pointer {
    position: absolute;
    font-size: 3em;
    margin-top: 50px;
    margin-left: 70px;
    color: white;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.signup:hover {
    color: #b3442e;
    transform: scale(1.1);
}

main section {
    width: 100vw;
    height: 100%;
}
section canvas {
    position: relative !important;
}

.mapboxgl-marker i {
    color: #e27cdf;
    font-size: 22px;
    padding: 0px;
    position: relative;
    top: -20px;
    left: -8px;
    transition: transform 0.3s ease-in-out;
}

.mapboxgl-marker #me {
    color: blue;
    font-size: 45px;
    top: -40px;
    left: -18px;
}

.mapboxgl-marker i:hover {
    transform: scale(1.3);
}

#popup {
    position: absolute;
    width: 50vw;
    height: 0px;
    bottom: 0px;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    left: 25%;
    background-color: #1f3a9388;
    color: black;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    transition: height 0.6s ease-in-out;
}

#popup div {
    text-align: center;
    width: 40%;
    height: 50px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 18px;
    border: none;
    font-weight: bold;
    background-color: #1f3a93aa;
}
#popup div * {
    width: 90%;
    background-color: transparent;
    border: none;
    color: white;
}
#popup div label {
    font-size: 10px;
    text-align: left;
}
#popup div input {
    height: 20px;
    font-size: 15px;
    text-align: center;
    outline: none;
}

#add-new {
    position: absolute;
    width: 50vw;
    height: 0px;
    bottom: 0px;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    left: 25%;
    background-color: #1f3a9388;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    transition: height 0.4s ease-in-out;
}

#add-new input {
    height: 30px;
    width: 50%;
    margin: 5px auto;
    border-radius: 15px;
    text-align: center;
}

#add-new input[type='button'] {
    background-color: #1f3a93;
    color: white;
    font-weight: bold;
    border: none;
    height: 40px;
}
#close-btn {
    display: flex;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    left: 0px;
    top: 0px;
    color: white;
    background-color: #0000ff66;
    border-radius: 50%;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    align-items: center;
    justify-content: center;
}
@media (max-width: 900px) {
    main {
        width: 100%;
    }
}
