section{ 
	background: linear-gradient(to bottom, white 70%, #63686355);
	height: 70vh;
	margin: auto;
	margin-top: -10px;
	text-align: center;
	font-family: 'Play', sans-serif;
	display: flex;
	flex-direction: column;
	width:100%;
}
#not-logged-in>div{
	justify-content: center;
	display: inline-flex;
}
section h1{
	padding-top: 200px;
	font-size: 3em;
	margin: 0px;
}
#not-logged-in div div{
	border-radius: 100%;
	width:150px;
	height: 150px;
	margin: 80px;
	background-color: #f1f1ff;
	transition: transform 0.2s ease-out, background-color 0.2s linear;
}
#not-logged-in div div:hover{
	background-color: #B3442Edd;
}
div[aria]:hover:after{
	content: attr(aria);
	display: block;
	font-family: 'Play', sans-serif;
	font-size: 20px;
}

#not-logged-in div div:hover{
	transform: scale(1.3)
}
section i{
	font-size: 6em;
	padding:25px 15px;
}
.user-pointer{
	position: absolute;
	font-size: 3em;
	margin-top: 50px;
	margin-left: 70px;
	color: white;
}
a{
	font-weight: bold;
	text-decoration: none;
	color: #000;
}
#signup{
	padding-left: 5px;
	display: block;
	transition: transform 0.2s ease-out, color 0.2s linear;
}
#signup:hover{
	color: #B3442E;
	transform: scale(1.1);
	
}
main, main section{
	width: 100vw;
	height: 90vh;
}
section canvas{
	position: relative!important;
	width:100%!important;
	height: 100%!important;
}

.mapboxgl-marker i{
	color: #e27cdf; 
	font-size: 22px ;
	padding:0px; 
	position: relative;
	top:-20px; 
	left:-8px;
	transition: transform .3s ease-in-out
}
.mapboxgl-marker i:hover{
	transform: scale(1.3)
}
#popup{
	position: absolute;
	width:50vw;
	height: 0px;
	bottom:0px;
	border-radius: 20px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	left: 25%;
	background-color: #1f3a9388;
	color: black;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	overflow: hidden;
	transition: height 0.4s ease-in-out;
}
#popup div{
	text-align: center;
	width: 40%;
	height: 50px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	border-radius: 18px;
	font-weight: bold;
	background-color: #1f3a93aa
}
#add-new{
	position: absolute;
	width:50vw;
	height: 0px;
	bottom:0px;
	border-radius: 20px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	left: 25%;
	background-color: #1f3a9388;
	color: black;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	overflow: hidden;
	transition: height 0.4s ease-in-out;
}
#add-new input{
	height: 30px;
	width: 50%;
	margin: 5px auto;
	border-radius: 15px;
	text-align: center;
}
#add-new input[type=button]{
	background-color: #1f3a93;
	color: white;
	font-weight: bold;
	border: none;
	height: 40px;
}