.Button {
    width: auto;
    background: linear-gradient(to bottom right, #e03bfb, #6831de);
    color: #ffffff;
    border: 0;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer;
}

.Button:hover {
    opacity: 0.8;
}
.Submit {
    padding: 0.4rem 2.4rem;
    text-transform: uppercase;
}

.FriendList {
    font-size: 12px;
    display: flex;
    align-items: center;
    width: 80%;
    height: 25px;
    margin: 0.4em auto;
    padding: 0.25em 1em;
    border-radius: 7px;
}

.YouSendAnInvite {
    padding: 0;
    font-size: 25px;
    margin-bottom: 10px;
    margin-right: 10px;
}
