/*b3442e	636863	b49410	d1d1d1	568b98*/

hr {
    border: none;
    background-color: lightgrey;
    height: 5px;
    width: 80%;
    margin: 0px auto;
}
#nav-bar {
    justify-content: center;
    position: fixed;
    order: 2;
    right: 0px;
    z-index: 99;
    display: grid;
    grid-template-rows: repeat(5, 20%);
    grid-template-columns: 1fr;
    width: 300px;
    background-color: white;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}
.item-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-top: 5px solid lightgrey;
}
.item-wrapper:nth-child(1) {
    border-top: 0px;
}
.item-wrapper:nth-child(1) a {
    color: #e03bfb;
}
.nav-item {
    margin: 0px;
    text-align: center;
    height: auto;
}
#nav-bar svg {
    height: 4rem;
}
.nav-item p {
    margin: 0;
}

.item-wrapper:hover,
.item-wrapper:hover a {
    background-color: lightgrey;
    color: #e03bfb;
}
.no-hover:hover,
.no-hover:hover a {
    background-color: white;
    color: black;
}
.scale {
    display: flex;
    flex-direction: column;
}
.scale a {
    text-align: center;
    width: 100%;
}

.hamburger {
    position: absolute;
    z-index: 99;
    display: flex;
    right: 10px;
    top: 10px;
    background-color: #fbfbfb;
    width: 50px;
    height: 30px;
    cursor: pointer;
    font-size: 30px;
    color: #6831de;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
}
.hamburger-icon {
    display: block;
    position: relative;
    transform: scale(1.5, 0.8);
    line-height: 30px;
}
.setting-item {
    font-weight: bold;
    cursor: pointer;
}
.settings-navbar {
    position: absolute;
    right: 300px;
    background-color: #ffffff;
}
.setting-navbar-item {
    width: 300px;
    padding: 33px 0;
    font-weight: 400;
    margin: 0;
    cursor: pointer;
    color: #000;
    border: 4px solid lightgray;
}
.setting-navbar-item:hover {
    background-color: #d3d3d3;
    color: #e03bfb;
}
.u-border-bottom {
    border-bottom: 2px solid #c4c4c4;
}
@media (max-width: 900px) {
    #nav-bar svg {
        height: 7rem;
    }
}
@media (max-width: 750px) {
    #nav-bar svg {
        height: 4rem;
    }
}
@media screen and (min-width: 375px) and (orientation: portrait) {
    .nav-item * {
        width: 100%;
    }
    .nav-item p {
        margin: 5px auto;
    }
}
@media screen and (max-width: 320px) {
    #nav-bar {
        width: 80%;
    }
    .nav-item {
        height: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    .nav-item * {
        width: 35%;
    }
    .nav-item p {
        margin: 0px;
        width: auto;
        right: 0px;
    }
}
@media screen and (orientation: landscape) and (max-width: 900px) {
    .item-wrapper {
        height: auto;
    }
    .nav-item {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 50%;
    }
    .no-hover {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .no-hover a {
        width: 40%;
        margin: 10px;
    }
    .no-hover p {
        margin: 0px;
        height: 35px;
        width: 100%;
        line-height: 35px;
    }
    .nav-item svg {
        height: 50px;
    }
}
