/*b3442e	636863	b49410	d1d1d1	568b98*/

@media (max-width: 768px){
	.hamburger-icon{
		opacity: 100 !important;
	}
	.navbar{
		display: none !important; 

	}
}
header{
	width: 100%;
	font-family: 'Play', sans-serif;
	
}
.navbar{
	 display: block; 
	 background-color: #ffffff;
}
.nav-wrapper{
	/* For hambuger icon */
	position: relative;
	min-height: 100%;
	width: 15rem;
	font-size: 18px;
	text-align: center;
	float: right;
	z-index: 10;
}
.navbarToggle{
	display: block !important;
	position: absolute;

	/* Animations */
	
}
/* 'navbar' */
#logo-wrapper{
	width: 160px;
	position: absolute;
	z-index: 1;
	top: 0px;
}
header .nav-item{
	width: 200px;
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: background-color 0.3s ease;
	cursor: pointer;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 2px solid grey;
}
.login {
	text-align: center;
	display: inline-block;
	margin-bottom: 30px;
}


.button{
	width: auto;
    background: linear-gradient(to bottom right,#E03BFB,#6831DE);
    color: #ffffff;
    border: 0;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    white-space: nowrap;
	text-transform: uppercase;
    padding: 0.4rem 2.4rem;
    cursor: pointer;
}
.button:hover{
	opacity: 0.8;
}
.mainTitle{
	color: #E03BFB;
}
.title{
	color: #000000;
	text-transform: uppercase;
}

/* Hamburger Icons */
.hamburger-icon{
	opacity: 0;
	width: 30px;
    height: 19px;
	position: absolute;
    z-index: 100;
	top: 30px;
    right: 10px;
	background-color: #ffffff;
	cursor: pointer;

}
.hamburger-icon:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 3px;
    background-color: #E03BFB;

  }

.hamburger-middle{
	position:absolute;
    top: 8px;
    left: 0;
    width: 30px;
    height: 3px;
    background-color: #E03BFB;

  }
.hamburger-end{
	position:absolute;
	top: 16px;
    left: 0;
    width: 30px;
    height: 3px;
    background-color: #E03BFB;
}