.ALink {
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}

.ALink:hover {
    opacity: 0.8;
}

.About {
    font-weight: 100;
    margin: 0 5px;
    font-size: 10px;
    padding: 0.5rem;
    border-radius: 7.5px;
    background: linear-gradient(
        90deg,
        rgba(224, 59, 251, 1) 0%,
        rgba(104, 49, 222, 1) 100%
    );
    box-shadow: 0 3px 4px -2px grey;
}
