.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}
.titleInvite {
    font-weight: 300;
    font-size: 20px;
    color: #6831de;
}
