.element {
    display: inline-block;
    color: #000000;
    background-color: lightgrey;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    margin-top: 30px;
    position: relative;
    font-size: 16px;
}

.buttonX {
    background: none !important;
    border: none;
    position: absolute;
    padding: 0 !important;
    right: 2px;
    top: 2px;
    font-size: 20px;
    color: #6831de !important;
    cursor: pointer;
}
