/*b3442e	636863	b49410	d1d1d1	568b98*/


html, body{
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
header{
	height: 10vh;
	background-color: #b3442e;
	display: inline-flex;
	width: 100%;
}
#logo-wrapper{
	display: flex;
	float: left;
	margin-left: 20px
}
#nav-wrapper{
	font-family: 'Play', sans-serif;
	width: 80%;
	height: 30px;
	justify-content: flex-end;
	display: flex;
	float: right;
	align-self: flex-end;
	font-size: 18px
}
header .nav-item{
	width: 100px;
	margin: 0px 1px;
	background-color: #00000044;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	color: #ffffff44;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	transition: background-color 0.3s linear;
	cursor: pointer;
	padding-bottom: 3px
}
header .nav-item:hover{
	background-color: #ffffffcc;
	color: #568b98;
}
header i{
	padding: 20px;
	font-size: 6em;
	color: black;
	opacity: 0.6;}
#logo{
	display: flex;
	line-height: 0.4em;
	position: absolute;
	background-color: #ffffffcc;
	width: auto;
	height: 0.7em;
	border-radius: 30px;
	padding: 0px;
	color: #568b98;
	font-family: 'Leckerli One', cursive;
	font-size: 3em;
	z-index: 2;
	margin-top: 76px
}
.pin{
	position: absolute;
	font-size: 3em;
	color: #568b98;
	margin-top: 45px;
	margin-left:133px;
	opacity: 1;
	z-index: 3;
	transform: rotate(37deg);
}
section{ 
	background: linear-gradient(to bottom, white 70%, #63686355);
	height: 70vh;
	margin: auto;
	margin-top: -10px;
	text-align: center;
	font-family: 'Play', sans-serif;
	display: flex;
	flex-direction: column;
	width:100%;
	padding-top: 200px
}
section>div{
	justify-content: center;
	display: inline-flex;
}
section h1{
	font-size: 3em;
	margin: 0px;
}
section div div{
	border-radius: 100%;
	width:150px;
	height: 150px;
	margin: 80px;
	background-color: #f1f1ff;
	transition: transform 0.2s ease-out, background-color 0.2s linear;
}
section div div:hover{
	background-color: #B3442Edd;
}
i[aria]:hover:after{
	content: attr(aria);
	display: block;
	font-family: 'Play', sans-serif;
	font-size: 20px;
}

section div div:hover{
	transform: scale(1.3)
}
section i{
	font-size: 6em;
	padding:25px 15px;
}
.user-pointer{
	position: absolute;
	font-size: 3em;
	margin-top: 50px;
	margin-left: 70px;
	color: white;
}