/*b3442e	636863	b49410	d1d1d1	568b98*/


html, body{
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
header{
	height: 10vh;
	background-color: #b3442e;
	display: inline-flex;
	width: 100%;
}
#logo-wrapper{
	display: flex;
	float: left;
	margin-left: 20px
}
#nav-wrapper{
	font-family: 'Play', sans-serif;
	width: 80%;
	height: 30px;
	justify-content: flex-end;
	display: flex;
	float: right;
	align-self: flex-end;
	font-size: 18px
}
header .nav-item{
	width: 100px;
	margin: 0px 1px;
	background-color: #00000044;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	color: #ffffff44;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	transition: background-color 0.3s linear;
	cursor: pointer;
	padding-bottom: 3px
}
header .nav-item:hover{
	background-color: #ffffffcc;
	color: #568b98;
}
header i{
	padding: 20px;
	font-size: 6em;
	color: black;
	opacity: 0.6;}
#logo{
	display: flex;
	line-height: 0.4em;
	position: absolute;
	background-color: #ffffffcc;
	width: auto;
	height: 0.7em;
	border-radius: 30px;
	padding: 0px;
	color: #568b98;
	font-family: 'Leckerli One', cursive;
	font-size: 3em;
	z-index: 2;
	margin-top: 76px
}
.pin{
	position: absolute;
	font-size: 3em;
	color: #568b98;
	margin-top: 45px;
	margin-left:133px;
	opacity: 1;
	z-index: 3;
	transform: rotate(37deg);
}
